# https://pre-commit.com/hooks.html

ci:
  autoupdate_schedule: quarterly

  skip:
    - copyright
    - ripsecrets
    - jsonschema-validator
    - helm-template-gen

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
        exclude: |-
          (?x)^(
            templates/.+\.yaml
            |examples/.+/templates/.+\.yaml
          )$
        args:
          - --allow-multiple-documents
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/sbrunner/hooks
    rev: 0.5.0
    hooks:
      - id: copyright
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        exclude: |-
          (?x)^(
            tests/expected-.+\.yaml
          )$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.1 # npm
          - prettier-plugin-sh@0.12.8 # npm
          - prettier-plugin-toml@2.0.1 # npm
          - '@prettier/plugin-xml@0.12.0' # npm
        exclude: |-
          (?x)^(
            templates/.+\.yaml
            |examples/README.md
            |examples/.+/templates/.+\.yaml
            |tests/expected-.+\.yaml
          )$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.24.1
    hooks:
      - id: check-github-workflows
      - id: check-jsonschema
        name: Check GitHub Workflows set timeout-minutes
        files: ^\.github/workflows/[^/]+$
        types:
          - yaml
        args:
          - --builtin-schema
          - github-workflows-require-timeout
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.5
    hooks:
      - id: ripsecrets
  - repo: https://github.com/camptocamp/helm-common
    rev: 1.0.1
    hooks:
      - id: helm-template-gen
        files: |-
          (?x)(
            ^templates/.*$
            |^values\.yaml$
            |^Chart\.yaml$
            |^examples/common/*
          )
        args:
          - --additional-template-directory=.
          - gs-cloud-common
          - examples/common
          - tests/expected-common.yaml
      - id: helm-template-gen
        files: |-
          (?x)(
            ^templates/.*$
            |^values\.yaml$
            |^Chart\.yaml$
            |^examples/datadir/*
          )
        args:
          - --additional-template-directory=.
          - gs-cloud-datadir
          - examples/datadir
          - tests/expected-datadir.yaml
      - id: helm-template-gen
        files: |-
          (?x)(
            ^templates/.*$
            |^values\.yaml$
            |^Chart\.yaml$
            |^examples/jdbc/*
          )
        args:
          - --additional-template-directory=.
          - gs-cloud-jdbc
          - examples/jdbc
          - tests/expected-jdbc.yaml
  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 0.1.0
    hooks:
      - id: jsonschema-validator
        files: ^ci/config\.yaml$
