apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "geoserver.fullname" . }}-config-configs
  labels:
    {{- include "geoserver.labels" . | nindent 4 }}
    gs-service: "config"
data:
  application.yml: |
    geoserver:
      security.enabled: true
      servlet.filter.session-debug.enabled: false # until the NPE is fixed
      catalog:
        advertised: true
        localWorkspace: true
        secure: true
      bus:
        send-events: true
      backend:
        catalog-service:
          enabled: ${backend.catalog:false}
          cache-directory: ${java.io.tmpdir}/cngs/catalog-client/resource_store
          fallback-resource-directory: ${java.io.tmpdir}/cngs/catalog-client/fallback_resource_store
        data-directory:
          enabled: ${backend.data-directory:false}
          location: ${GEOSERVER_DATA_DIR:${java.io.tmpdir}/cngs/data_directory}
        jdbcconfig:
          enabled: ${backend.jdbcconfig:false}
          initdb: false
          web.enabled: false
          cache-directory: ${jdbcconfig.cachedir:${java.io.tmpdir}/cngs/jdbcconfig/cache}
          datasource:
            jdbcUrl: "jdbc:postgresql://${jdbcconfig.host}:5432/${jdbcconfig.database}"
            username: ${jdbcconfig.username:geoserver}
            password: ${jdbcconfig.password:geo5erver}
            driverClassname: ${jdbcconfig.driverClassname:org.postgresql.Driver}
            # optional:
            schema: ${jdbcconfig.schema:public}
            minimumIdle: ${jdbcconfig.minConnections:2}
            maximumPoolSize: ${jdbcconfig.maxConnections:8}

    management:
      endpoint:
        info.enabled: true
        metrics.enabled: true
        shutdown.enabled: true
        health:
          enabled: true
          show-details: always
      endpoints:
        enabled-by-default: true
        web.exposure.include: "*"
      metrics:
        enable.all: false
        enable.jvm: true
        export:
          atlas.enabled: false

    spring:
      rabbitmq: {{ include "geoserver.spring.rabbitmq" . | nindent 8 }}
      cloud:
        bus:
          enabled: true
          id: ${server.instance-id} # use the same instance id for eureka (see service's' bootstrap.yml) and cloud-bus' rabbitmq instance id
          trace.enabled: false #switch on tracing of acks (default off).
        stream:
          bindings:
            springCloudBusOutput:
              destination: gscatalog
            springCloudBusInput:
              destination: gscatalog
      jackson:
        default-property-inclusion: non_empty
        serialization.indent_output: false #set to true if doing manual testing and want formatted output

    reactive.feign.cloud.enabled: true
    reactive.feign.hystrix.enabled: false

    logging:
      level:
        root: WARN
        org.springframework: ERROR
        org.springframework.cloud.bus: INFO
        org.springframework.retry: INFO
        org.geoserver: INFO
        org.geoserver.catalog.plugin: INFO
        org.geoserver.wms: WARN #don't flood the logs with every request details
        org.geoserver.wfs: WARN
        org.geoserver.jackson: INFO
        org.geotools.jackson: INFO
        org.geoserver.platform: ERROR
        org.geoserver.jdbcconfig: INFO
        oshi.hardware.platform.linux: ERROR
        oshi.software.os: ERROR
        org.geoserver.cloud: INFO
        org.geoserver.cloud.autoconfigure: INFO
        org.geoserver.cloud.config.factory: INFO
        org.geoserver.cloud.bus: INFO
        org.springframework.cloud.bus.BusAutoConfiguration: INFO
        org.springframework.cloud.bus.DefaultBusPathMatcher: INFO
        reactivefeign.client.log: INFO
        org.springframework.cloud.config.server.environment.NativeEnvironmentRepository: WARN

    ---
    spring.profiles: local
    jdbcconfig.url: jdbc:postgresql://${jdbcconfig.host}:5432/${jdbcconfig.database}
    jdbcconfig.username: ${jdbcconfig.username}
    jdbcconfig.password: ${jdbcconfig.password}
    ---
    spring.profiles: debug

    logging:
      level:
        root: WARN
        org.springframework: INFO
        # geoserver roots
        org.geoserver: INFO
        org.geoserver.catalog.plugin: DEBUG
        org.geoserver.wms: WARN
        org.geoserver.wfs: WARN
        org.geoserver.jackson: DEBUG
        org.geotools.jackson: DEBUG
        org.geoserver.platform: ERROR
        org.geoserver.jdbcconfig: INFO
        # gs-cloud roots
        org.geoserver.cloud: DEBUG
        org.geoserver.cloud.autoconfigure: DEBUG
        org.geoserver.cloud.config.factory: DEBUG
        # bus debugging
        org.geoserver.cloud.bus: TRACE
        org.springframework.cloud.bus: DEBUG
        org.springframework.cloud.bus.BusAutoConfiguration: DEBUG
        org.springframework.cloud.bus.DefaultBusPathMatcher: INFO
        # reactivefeign:
        reactivefeign.client.log: DEBUG


  config-service.yml: |
    spring:
      profiles:
        active: native
      config.server.native.searchLocations: ${config.path:file:./config}

    logging:
      level:
        root: WARN
        org.springframework.cloud.config.server.environment.NativeEnvironmentRepository: WARN

  gateway-service.yml: |
    server:
      compression:
        enabled: true

    management:
      endpoint.gateway.enabled: true
      endpoints:
        enabled-by-default: true
        web.exposure.include: "*"

    spring:
      cloud:
        gateway:
          actuator:
            verbose:
              enabled: true
          routes:
    # WFS routes
          - id: wfs # proxies requests to gateway-service:/wfs to wfs-service:/wfs
            uri: lb://wfs-service #load balanced to the wfs-service instances
            predicates:
            - Path=/wfs,/{segment}/wfs,/schemas/wfs/**
    # proxy [/{workspace}]/ows?SERVICE=wfs to wfs-service:[/{workspace}]/ows?SERVICE=wfs. Param value is case insensitive, name is not.
          - id: wfs_ows
            uri: lb://wfs-service
            predicates:
            - Path=/ows,/{segment}/ows
            - RegExpQuery=(?i:service),(?i:wfs) # match service=wfs case insensitively 
    # WMS routes
          - id: wms # proxies requests to gateway-service:/wms to wms-service:/wms
            uri: lb://wms-service #load balanced to the wms-service instances
            predicates:
            - Path=/wms,/{segment}/wms,/schemas/wms/**,/openlayers/**,/openlayers3/**
          - id: wms_ows # proxy [/{workspace}]/ows?SERVICE=wms to wms-service:[/{workspace}]/ows?SERVICE=wms. Param value is case insensitive, name is not.
            uri: lb://wms-service
            predicates:
            - Path=/ows,/{segment}/ows
            - RegExpQuery=(?i:service),(?i:wms) # match service=wms case insensitively 
    # WCS routes
          - id: wcs # proxies requests to gateway-service:/wcs to wcs-service:/wcs
            uri: lb://wcs-service #load balanced to the wps-service instances
            predicates:
            - Path=/wcs,/{segment}/wcs,/schemas/wcs/**
          - id: wcs_ows # proxy [/{workspace}]/ows?SERVICE=wcs to wcs-service:[/{workspace}]/ows?SERVICE=wcs. Param value is case insensitive, name is not.
            uri: lb://wcs-service
            predicates:
            - Path=/ows,/{segment}/ows
            - RegExpQuery=(?i:service),(?i:wcs) # match service=wcs case insensitively 
    # WPS routes
          - id: wps # proxies requests to gateway-service:/wps to wfs-service:/wps
            uri: lb://wps-service #load balanced to the wps-service instances
            predicates:
            - Path=/wps,/{segment}/wps,/schemas/wps/**
          - id: wps_ows # proxy [/{workspace}]/ows?SERVICE=wps to wps-service:[/{workspace}]/ows?SERVICE=wps. Param value is case insensitive, name is not.
            uri: lb://wps-service
            predicates:
            - Path=/ows,/{segment}/ows
            - RegExpQuery=(?i:service),(?i:wps) # match service=wps case insensitively 
    # REST configuration routes
          - id: restconfig
            uri: lb://restconfig-v1 #load balanced to the restconfig-v1 instances
            predicates:
            - Path=/rest/**
    # Web UI configuration routes
          - id: restconfig
            uri: lb://web-ui
            predicates:
            - Path=/,/index.html,/web,/web/**,/j_spring_security_check,/j_spring_security_logout

    logging:
      level:
        root: WARN
        com.netflix.discovery: WARN
        com.netflix.eureka: WARN

  web-ui.yml: |
    geoserver:
      backend.catalog-service.enabled: ${backend.catalog:true}
      web-ui:
        security.enabled: true
        wfs.enabled: true
        wms.enabled: true
        wcs.enabled: true
        wps.enabled: false # not working yet
        gwc.enabled: false # not ready yet
        extensions:
          importer.enabled: true
        demos:
          enabled: true
          wps-request-builder: true
          wcs-request-builder: true
          demo-requests: true
          srs-list: true
          reprojection-console: true
          layer-preview-page:
            enabled: true
            common-formats:
              open-layers: true
              gml: true
              kml: false #kml links are broken
        tools:
          enabled: true
          resource-browser: true
          catalog-bulk-load: true
    ---
    spring.profiles: local
    server.port: 9106

  restconfig-v1.yml: |
    geoserver:
      backend.catalog-service.enabled: ${backend.catalog:true}
    ---
    spring.profiles: local
    server.port: 9105

  wfs-service.yml: |
    geoserver:
      backend.catalog-service.enabled: ${backend.catalog:true}
    ---
    spring.profiles: local
    server.port: 9101

  wms-service.yml: |
    geoserver:
      backend.catalog-service.enabled: ${backend.catalog:true}
    ---
    spring.profiles: local
    server.port: 9102

  wcs-service.yml: |
    geoserver:
      backend.catalog-service.enabled: ${backend.catalog:true}
    ---
    spring.profiles: local
    server.port: 9103
