additionalVolumes: &additional-volumes
  cache:
    persistentVolumeClaim:
      claimName: gs-cloud-gwc-cache-nfs-claim
  geodata:
    configMap:
      name: cm-jndi-geodata

additionalVolumeMounts: &additional-volume-mounts
  /mnt/cache:
    name: 'cache'
  /custom/geodata:
    name: 'geodata'
    readOnly: true

env: &env-override
  RABBITMQ_HOST:
    value: 'gs-cloud-common-rabbitmq'
  RABBITMQ_USER:
    value: 'geoserver'
  RABBITMQ_PASSWORD:
    type: secret
    name: 'gs-cloud-common-rabbitmq'
    key: 'rabbitmq-password'
  SPRING_PROFILES_ACTIVE:
    value: standalone,jdbcconfig
  GEOWEBCACHE_CACHE_DIR:
    value: '/mnt/cache'
  JAVA_OPTS:
    value: '$(JAVA_OPTS_DEFAULT) -Dspring.config.additional-location=optional:file:/custom/geodata/jndi.yml'
  JDBCCONFIG_DATABASE:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'database'
  JDBCCONFIG_HOST:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'hostname'
  JDBCCONFIG_USERNAME:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'username'
  JDBCCONFIG_PASSWORD:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'password'
  JDBCCONFIG_PORT:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'port'
  JDBCCONFIG_SCHEMA:
    type: secret
    name: 'gs-cloud-jdbc-db'
    key: 'schema'

additional-stuff: &additional-stuff
  volumes:
    <<: *additional-volumes
  containers:
    spring:
      env:
        <<: *env-override
      volumeMounts:
        <<: *additional-volume-mounts

geoservercloud:
  global:
    profile: standalone,datadir
    image:
      pullPolicy: IfNotPresent
  geoserver:
    ingress:
      enabled: true
      hostGroups:
        host1:
          tls:
            enabled: false
          hosts:
            - gscloud.local
    services:
      gateway:
        ingress:
          enabled: true
        <<: *additional-stuff
      webui:
        <<: *additional-stuff
      rest:
        <<: *additional-stuff
      wms:
        replicaCount: 2
        <<: *additional-stuff
      wcs:
        <<: *additional-stuff
      wfs:
        replicaCount: 2
        <<: *additional-stuff
      gwc:
        replicaCount: 2
        <<: *additional-stuff
