name: Continuous integration

on:
  push:
  pull_request:

permissions:
  actions: write
  contents: write

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  main:
    name: Continuous integration
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    strategy:
      fail-fast: true
      matrix:
        helm:
          - latest
          - 3.11.0

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files
      - run: git diff && false
        if: failure()
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Expected
          path: tests/
          if-no-files-found: ignore
          retention-days: 5

      - name: Print environment information
        run: c2cciutils-env

        env:
          GITHUB_EVENT: ${{ toJson(github) }}

      - name: Install helm
        uses: azure/setup-helm@v3
        with:
          version: ${{ matrix.helm }}
      - run: helm dependency update .
      - run: helm lint .

      - run: helm dependency update .
      - run: helm dependency update examples/common
      - run: helm lint examples/common
      - run: helm template --namespace=default gs-cloud-common examples/common > tests/actual-common.yaml
      - run:
          diff -Naur -I 'checksum/secret:' -I 'rabbitmq-password:' -I 'rabbitmq-erlang-cookie:' --ignore-trailing-space
          tests/expected-common.yaml tests/actual-common.yaml

      - run: helm dependency update examples/datadir
      - run: helm lint examples/datadir
      - run: helm template --namespace=default gs-cloud-datadir examples/datadir > tests/actual-datadir.yaml
      - run: diff -Naur --ignore-trailing-space tests/expected-datadir.yaml tests/actual-datadir.yaml

      - run: helm dependency update examples/jdbc
      - run: helm lint examples/jdbc
      - run: helm template --namespace=default gs-cloud-jdbc examples/jdbc > tests/actual-jdbc.yaml
      - run: diff -Naur --ignore-trailing-space tests/expected-jdbc.yaml tests/actual-jdbc.yaml

      - name: Publish
        run: c2cciutils-publish
        if: matrix.helm == 'latest' && env.HAS_SECRETS == 'HAS_SECRETS'

      - name: Trigger changelog workflow
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/github-script@v6
        with:
          script: |-
            if (process.env.GITHUB_REF_TYPE == 'tag') {
                console.log('Trigger changelog');
                await github.rest.repos.createDispatchEvent({
                    owner: 'camptocamp',
                    repo: 'helm-mutualize',
                    event_type: 'changelog',
                });
            }
